@media only screen and (max-width: 900px) {
    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Yellowtail&display=swap');
    
      
      body {
        background-color: rgb(20,20,20);
        background-size: cover;
        height: 90vh;
        color: rgb(205,205,205);
        font-family: 'Futura', sans-serif;
      }
      
      section {
        display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;
      }
      .non-home-section {
        display: flex;
        flex-direction: column;
        height: 90vh;
        justify-content: center;
      }
      
      footer {
        position: fixed;
        bottom: 0;
        height: 30px;
        width: 100%;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: rgba(205,205,205,0.4);
        z-index: 10;
      }
      footer a {
        color:rgba(205,205,205,0.6);
      }
      
      
      /*************************/
      /****** NAV STYLING ******/
      /*************************/
      
      nav {
        position: fixed;
        background-color: rgb(20,20,20);
        backdrop-filter: blur(15px);
        width: 100vw;
        height: 100px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
      }
      nav ul {
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
      }
      
      .social-links {
        margin: 0 -30px 0 auto;
        padding: 15px 30px 15px 15px;
        display: none;
        position: relative;
      }
      .social-links::before {
        content: '';
        position: absolute;
        top: -34px;
        left: 0;
        height: 125px;
        width: 100%;
        background-color: rgba(205,205,205,0.4);
        z-index: -1;
        transform: scale(0.01, 0.5);
        transform-origin: left;
        transition: all 0.2s ease;
      }
      .social-links:hover::before {
        background-color: rgb(205,205,205);
        transform: scale(1, 0.7);
      }
      .social-links:hover .fab,
      .social-links:hover .fas {
        color: rgb(20,20,20);
      }
      .social-links li {
        margin: 0 15px;
      }
      .social-links li:nth-child(3) {
        margin-right: 0;
      }
      .fab, .fas {
        font-size: 28px;
        color: rgba(205,205,205,0.4);
        transition: 0.2s ease;
      }
      .fab:hover, .fas:hover {
        transform: scale(1.3);
      }
      
      .nav-link {
        display: inline-block;
        text-decoration: none;
        color: rgba(205,205,205,0.4);
        margin: 10px 10px;
        font-size: 12px;
        transition: color 0.2s ease;
      }
      .home-link {
        text-decoration: none;
        color: rgb(205,205,205);
        font-family: 'Futura';
        font-size: 20px;
        margin: 0;
      }
      .nav-link:hover {
        color: rgb(205,205,205);
      }
      
      .selected {
        color: rgb(205,205,205);
      }
      
      
      
      
      /*************************/
      /**** HEADING STYLING ****/
      /*************************/
      
      h1 {
        text-align: center;
        font-size: 3rem;
      }
      .main-home-h1 {
        font-size: 3rem;
        transform: translateY(-40%);
      }
      .non-home-section h1 {
        font-size: clamp(2rem, 9vh, 10rem);
      }
      
      
      /*************************/
      /** EXTRA HOME STYLING  **/
      /*************************/
      
      .home-two {
        background-color: rgb(205,205,205);
      }
      .home-two h1 {
        color: rgb(20,20,20);
      }
      .home-three {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 1;
        pointer-events: all;
      }

      .home-info {
        position: absolute;
        top: 90px;
        width: 80vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      
      /*************************/
      /**** CONTACT STYLING ****/
      /*************************/
      
      .contact-card {
        width: 90%;
        background-color: rgb(20,20,20);
        color: rgb(205,205,205);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border: none;
        border-radius: 0px;
        transform: none;
        transition: none;
      }

      .contact-section h1 {
        display: none;
      }
      
      .contact-card:hover {
        transform: scale(1);
      }
      
      .contact-card img {
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 10px;
        border-radius: 0px;
        border-bottom: solid 2px rgb(205,205,205);
      }
      
      
      .contact-card-info {
        margin: 10px 0px 10px 0px;
        text-align: center;
      }
      
      .contact-link {
        color: rgb(205,205,205);
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        margin: 15px;
        position: relative;
      }
      
      .contact-link::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0px;
        height: 2px;
        width: 100%;
        background-color: rgb(205,205,205);
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
      }
      
      .contact-link:hover::before {
        transform: scaleX(0);
      }
      
      
      /*************************/
      /***** EVENT STYLING *****/
      /*************************/
      
      .event-section {
        width: 100%;
        transform: translateY(5%);
      }
      
      .events-list {
        width: 95%;
        max-width: 1400px;
        max-height: 500px;
        background-color: rgb(20,20,20);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 65%;
        margin-top: 0;
        border-radius: 0px;
        border-bottom: solid 2px rgb(205,205,205);
      }
      
      .all-events {
        width: 100%;
        max-height: 500px;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      
      .all-events::-webkit-scrollbar {
        display: none;
      }
      
      .event-section h1 {
        display: none;
        font-family: 'Futura', sans-serif;
        font-size: 28px;
      }

      .event-section h2 {
        font-size: 18px;
        opacity: 0.3;
      }
      
      .event-header {
        list-style: none;
        background-color: rgb(20,20,20);
        width: 100%;
        max-width: 1400px;
        display: none;
        justify-content: space-between;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
      }
      .event-header li {
        width: 33%;
        text-align: center;
      }
      .event-header li:nth-child(1) {
        text-align: left;
      }
      .event-header li:nth-child(3) {
        text-align: right;
      }
      
      .event {
        width: 100%;
        max-width: 1400px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
        margin-top: 0px;
        border-bottom: solid 1px rgb(205,205,205);
      }

      .event:nth-child(1) {
        margin-top: 0px;
      }
      
      .event li {
        font-size: 20px;
        color: rgb(205,205,205);
        border-bottom: solid 1px rgb(205,205,205);
        padding: 5px 10px;
      }
      
      .event-name {
        width: 100%;
        text-align: center;
      }
      
      .event-date {
        width: 100%;
        text-align: center;
        border-left: none;
        border-right: none;
      }
      
      .event-location {
        width: 100%;
        text-align: center;
      }
      
      
      
      /*************************/
      /***** ABOUT STYLING *****/
      /*************************/
      
      .about-section {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      
      .about-container {
        position: absolute;
        top: 120px;
        display: grid;
        grid-template-columns: 100%;
        gap: 100px;
        padding-bottom: 100px;
      }
      
      .about-card {
        display: flex;
        border-bottom: solid 2px rgb(205,205,205);
        transition: transform 0.1s ease;
      }
      
      .about-card:hover {
        transform: scale(1);
      }
      
      .about-card img {
        width: 100%;
        padding: 0 0 10px 0;
        border-bottom: solid 2px rgb(205,205,205);
        border-right: none;
      }
      
      .about-card p {
        font-size: 20px;
        padding: 20px;
        line-height: 1.3em;
      }
      
      .about-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        background: rgb(20,20,20);
      }
      
      
      
      /*************************/
      /***** MUSIC STYLING *****/
      /*************************/
      
      .music-section h1 {
        font-size: 24px;
      }
      .music-carousel button {
        height: calc(100% - 44px) !important;
        border-radius: 5px;
      }
      .music-carousel button.control-next.control-arrow::before {
        border-left: 12px solid rgb(20,20,20);
        height: 12px;
      }
      .music-carousel button.control-prev.control-arrow::before {
        border-right: 12px solid rgb(20,20,20);
      }

}